{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="container mt-5 text-center">
    <h1>Bem-vindo ao Scoutlyze</h1>
    <p class="lead">A plataforma para gerenciar e analisar dados.</p>
    <a href="/api/times/" class="btn btn-primary btn-lg mt-3">Explorar Times</a>
</div>

<!-- Features Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/static/images/Scoutlyze.png" alt="Times" class="img-fluid mb-3" />
            <h3>Gestão de Times</h3>
            <p>Gerencie informações dos times de maneira prática.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="/static/images/Scoutlyze.png" alt="Jogadores" class="img-fluid mb-3" />
            <h3>Estatísticas de Jogadores</h3>
            <p>Acompanhe o desempenho detalhado de cada jogador.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="/static/images/Scoutlyze.png" alt="Partidas" class="img-fluid mb-3" />
            <h3>Dados de Partidas</h3>
            <p>Análise completa dos jogos e estatísticas.</p>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
{% endblock %}
